html { font-size:100%;  height: 100%; }

@media all and (orientation: landscape){
#primary .column-2 {width: 21%;float: left;}/*front*/
#primary .column-1 {width: 23%;float: left;}/*front*/
.slider{margin-top:1%;float:left;margin-left:6%;margin-right:6%;width:44%;z-index: -1;}
.slider img{border-radius: 3px;width:100%;text-align: center;z-index: -1;} 
 #calendar{ width: 100%;line-height: 2em;}
}

@media all and (orientation: portrait){
#primary .column-2 {width: 90%;}/*front*/
#primary .column-1 {width: 90%;margin: auto;}/*front*/
.slider{margin: auto;margin-top:5%;width:90%;z-index: -1;}
.slider img{border-radius: 3px;width:100%;text-align: center;z-index: -1;}
 #calendar{ width: 70%; margin-left:auto;margin-right:auto;line-height: 3em;}
}

@media  (min-width: 300px) { 
#header p {font-size: 0.5rem; font-weight: 600;letter-spacing: 1px;}
.nav a {font-size: 0.45rem; }
#navigationPaneland  #index{padding-left: 2%;}
#navigationPanel ul li {padding-left: 1%;}

#primary h1.page-title {font-size: 1rem;margin:2px;}
#primary h2 {font-size: 0.5rem;}
#primary h3 {font-size: 0.3rem; }
#primary p,#primary li {font-size: 0.6rem;  line-height: 10px;}
.slider_mini img{max-width: 22.5%;}

td {padding: 3px 5px;}
th {padding: 3px 5px;}
table {font-size: 0.6rem;}


#footer{font-size: 0.5rem;}
#footer   li p   {font-size: 0.4rem;}
#footer   p   {font-size: 0.3rem;}
}

@media (min-width:468px) { 
#header p {font-size: 0.9rem;}/*head*/
.nav a {font-size: 0.55rem; }/*head*/
#navigationPanel #index{padding-left: 2%;}

#primary h1.page-title {font-size: 1.2rem;margin:6px;}/* cal*/
#primary h2 {font-size: 0.7rem;}
#primary h3 {font-size: 0.4rem;   }/* cal*/
#primary p,#primary li {font-size: 0.6rem;  line-height: 10px;}
.slider_mini img{max-width: 23.3%;}

td {padding: 5px 10px;}/* cal*/
th {padding: 5px 10px;}/* cal*/
table {font-size: 0.6rem;}/* cal*/

#footer{font-size: 0.6rem;}
#footer   li p   {font-size: 0.5rem;}
#footer   p   {font-size: 0.4rem;}
 
}
@media  (min-width:660px)  {
 #navigationPanel {width: 70%}
}

@media (min-width:748px) { 
#header p {font-size: 1.5rem;letter-spacing: 0px;}
.nav a {font-size: 0.8rem; }
#navigationPanel{width: 70%;}

#primary h1.page-title {font-size: 1.6rem;  margin-top: 5px;  margin-bottom: 5px;   }
#primary h2 {font-size: 0.8rem;}
#primary h3 {font-size: 0.5rem;   }
#primary p,#primary li {font-size: 0.7rem;  line-height: 12px;margin:0px;}
.slider_mini img{max-width: 24%;}

td {padding: 5px 10px;}
th {padding: 5px 10px;}
table {font-size: 0.7rem;}

#footer{font-size: 0.7rem;}
#footer   li p   {font-size: 0.6rem;}
#footer   p   {font-size: 0.5rem;}  
}  

@media(min-width:850px) { 
#navigationPanel{width: 70%;margin-top: 10%;}
#navigationPanel li{margin-top: 10%;}
#navigationPanel ul li{ padding-top: 5%; }
}

@media (width:980px) and (orientation: portrait){
.nav a {font-size: 0.9rem; }
#primary h3 {font-size: 0.25rem;}
#primary h2 {font-size: 0.7rem;}
}
@media  (min-width:1024px){
#header p {font-size: 2rem;font-weight: normal;}
.nav a {font-size: 0.9rem; }
#navigationPanel{width: 60%;}
#navigationPanel ul li{ padding-top: 8%; }

#primary h1.page-title {font-size: 2rem;  margin-top: 10px;  margin-bottom: 10px;   }
#primary h2 {font-size: 1rem;}
#primary h3 {font-size: 0.7rem;   }
#primary p,#primary li {font-size: 0.8rem;  line-height: 15px;}
.slider_mini img{max-width: 24.3%;}
    
td {padding: 6px 16px;}
th {padding: 6px 16px;}
table {font-size: 0.8rem;}

#footer{font-size: 0.8rem;}
#footer   li p   {font-size: 0.7rem;}
#footer   p   {font-size: 0.6rem;}
 
}
 
@media  (min-width:1280px){ 
#header p {font-size: 2.5rem;}
.nav a {font-size: 1rem; }
#navigationPanel{width: 55%;}
#navigationPanel ul li{ padding-top: 10%; }

#primary h1.page-title {font-size: 2.4rem; margin-top: 15px;  margin-bottom: 15px;   }
#primary h3 {font-size: 0.8rem;   }
#primary h2 {font-size: 1.1rem;}
#primary p,#primary li {font-size: 0.8rem;  line-height: 20px;}
.slider_mini img{max-width: 24.4%;}

td {padding: 10px 20px;}
th {padding: 10px 20px;}
table {font-size: 0.9rem;}

#footer{font-size: 0.9rem;}
#footer   li p   {font-size: 0.8rem;}
#footer   p   {font-size: 0.8rem;}
  
}

@media (min-width:1600px){ 
#header p {font-size: 3rem;}
.nav a {font-size: 1.4rem; }
#navigationPanel{width: 55%;}
    
#primary h1.page-title {font-size: 1rem;  margin-top: 15px;  margin-bottom: 15px;   }
#primary h2 {font-size: 1.5rem;}
#primary h3 {font-size: 0.9rem;   }
#primary p,#primary li {font-size: 0.9rem;  line-height: 20px;}
.slider_mini img{max-width: 25%;}

td {padding: 12px 22px;}
th {padding: 12px 22px;}
table {font-size: 0.9rem;}

#footer{font-size: 1rem;}
#footer   li p   {font-size: 0.9rem;}
#footer   p   {font-size: 0.8rem;}    
}




body {
    height: 100%;
}


.close {display: none;}
#container {
    width:90%;
    min-height: 90%; /* задаем минимальную высоту основного блока */
    margin: 0 auto;
  }
* html #container  { /* хак для ie6 */
height: 90%; /* для ие6, т.к. не понимает min-height */
}

hr {background: none;
    border-top: 1px dotted #56839e;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted #56839e;
    margin: 15px 0;
}
a{
  color: #56839e;
  text-decoration: none;
}

a:hover {color: #badee1;}  

 @font-face {
    font-family: BebasNeue; /* Гарнитура шрифта */
    src: url(images/BebasNeue.otf); /* Путь к файлу со шрифтом */
   } 

/* Header ==============================    */  
#header{
    width: 100%;
    overflow: hidden;;
}/*head*/
.site-logo {
   text-align: center; 
}/*head*/
.site-logo img{
    min-width: 35px;
    min-height: 35px;
    max-width: 12.5%;
    max-height: 12.5%;
}/*head*/
#header p{
    color:#2D3F4A;
    font-family: BebasNeue;
    text-transform: uppercase;
    text-align: center;
    margin:10px;

   }/*head*/
/* Navigation and Search ==============================    */  
div.nav{

    overflow: hidden;
    width:100%;
}/*head*/
.nav img{
    min-width: 20px;
    min-height: 10px;
    max-width: 8%;
    max-height: 4%;
}/*head*/

/*new*/
#mount-left{

    float: left;
}
#mount-right{
    float: right;
}

#navigationPanel li, #navigationPanel ul{
    margin: 0px;
    padding: 0px;
}

#navigationPanel{
    display: table;
    margin: auto;
    padding: 0px;

}
#navigationPanel ul{
    width:auto;
    position: absolute;
    display: none;
     z-index: 5;
}
#navigationPanel li:hover ul{
    display: block;
}
#navigationPanel li{
    width: 1%;
    border: 0px solid black;
    display: table-cell;
    text-align:left ; 

    
}

#navigationPanel ul li{
    width: auto;
    display: block;
    text-align: left; ;
    background: white; 
    opacity: 0.8;
}
#navigationPanel ul li:last-child{
    border-radius:0 0 1px 1px; 
}
#navigationPanel a{
    color: #ac7c78;
    text-decoration: none;
    font-family: Georgia, Palatino, serif;
    text-transform: uppercase;
    cursor:pointer;
    
}
#navigationPanel a:hover {
    color: #ebd1ce;
}
/*/Header    */

/*Primary ==============================    */
#primary h3 {

    color: #56839E;
    font-family: Georgia, Palatino, serif;
    
  text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0;
    font-weight: normal;
}/*front*/

#primary h1 a:hover {color: #badee1;}
#primary p.subhead {
  font-style: italic;

    font-family: Georgia, Palatino, serif;
    margin: 5px;
   
}
#primary h2 {
    color:#ac7c78;
    font-family:Georgia,Palatino,serif;
 
  
    font-weight:normal;

   text-align: left;
    margin:0 0 5px;
}/*front*/
 h2 span {

cursor:pointer;
}
 h2 span:hover {
    color: #ebd1ce;
}
#primary p
 {
  
  
color:#2D3F4A;
    text-align: justify;
    font-family: arial, verdana, sans-serif;

    margin-bottom: 10px;
 
}

#primary{

    width:100%;
}




#primary .item {
    border-bottom:1px dotted #8A8571;
    text-align: justify;
 }/*front*/
#primary ul,#primary ol {
    margin-bottom: 20px;
}
/*Calendar*/
#calendar {

margin-top: 5%;
border-collapse: collapse;
border-radius: 10px;
text-align: center;
font-family: Georgia, Palatino, serif;

border-spacing: 0;
}
#day td{
  width: 14%;
}
#day #sat,#day #sun{
  width: 15%;
}
#calendar td{
border: 1px solid #A2CCD0; 
padding: 0px;
}
#calendar thead tr:first-child{
background: #56839E;
}
#calendar thead tr:nth-child(2){
background: #AC7C78;
color: white;
text-shadow: 0 1px 1px #2D2020;
}
#calendar tbody td {
color: #2D3F4A;
}
 #calendar .holiday {

color: red;
}
#calendar tbody td.today {
border: 3px solid #2D3F4A;
}
.contest{
background: #A2CCD0;
}
#calendar tbody td:first-child(n+2){
text-decoration:underline;
}
.contest a{
color: #2D3F4A;
cursor:pointer;
}
.contest a:hover{
text-decoration: none;
color: rgb(44, 86, 122);
}
.new-select-style-wpandyou select {
width: 100%;
height: 30px;
line-height: 2em;
background: rgb(86, 131, 158);
border-collapse: collapse;
border: 0px; 
color: white;
text-align: center;
font-family: Georgia, Palatino, serif;
font-size: 14px;
padding: 0px;
}
.new-select-style-wpandyou input  {
width: 100%;
height: 30px;
line-height: 2em;
background: rgb(86, 131, 158);
border-collapse: collapse;
border: 0px; 
color: white;
text-align: center;
font-family: Georgia, Palatino, serif;
font-size: 14px;
padding: 0px;
   }
#vk{
width: 100%;
line-height: 2em;
margin-top: 40px;
margin-left: 20px;
border-collapse: collapse;
border-radius: 10px;
text-align: center;
font-family: Georgia, Palatino, serif;
font-size: 14px;
border-spacing: 0;
}
/*Footer ==============================    */

#footer  {
  color: #ac7c78;
width:90%;
  font-family: Georgia, Palatino, serif;
height: 10%; /* высота подвала */
  letter-spacing: 1.5px;
  margin: 0 auto;
; 


  text-decoration: none;

}
.clear-block {
    display: block; 
    clear: both;
    height: 25px;
}
.clear-blockf {
    display: block; 
    clear: both;
  
}

 
#footer  hr {
  background: none;
  border-top: 1px solid #90ADBF;
  border-left: none;
  border-right: none;
  border-bottom: 0px solid #90ADBF;
  margin: 5px 0;
}
#footer #col1 ul {
  margin-top:0px;
  margin-bottom:0px;
  padding: 0px;
  text-align: left;
  padding-left: 25%;
}
#footer #col2 ul {
  margin-top:0px;
  margin-bottom:0px;
  padding: 0px;
  text-align: center;
  }
  #footer #col3 ul {
  margin-top:0px;
  margin-bottom:0px;
  padding: 0px;
  text-align: left;
  padding-left: 25%;
  }
#footer li:first-child{
  text-transform: uppercase;
  margin-bottom:5px;
 

}
#footer li:first-child>a{
  color: #ac7c78;
}
#footer li:first-child>a:hover{
  color: #ebd1ce;
}
#footer   li p   {
  padding: 2px 0;
  color: #56839E;
  font-family: Georgia, Palatino, serif;
  

  margin:0px;
}
#footer   p   {
  color: #ac7c78;
  font-family: Georgia, Palatino, serif;
  padding-left: 0px;
  margin:0px;
  margin:0px 0px 5px 0px;
}

#footer .column-footer {
  width: 33%;
  float: left;
}

.column-footer img{

  min-width: 10px;
  min-height: 10px;
  max-width: 8%;
  max-height: 8%;
}

.clear-block {
  display: block; 
  clear: both;
}